<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description" content="{{ site.description }}">

    <title>Open Source en makigas</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Open+Sans:300" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ '/assets/main.css' | prepend: site.basepath }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@makigas">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:creator" content="@danirod93">
    <meta name="twitter:image" content="https://www.makigas.es/makigas.png">
  </head>
  <body>
    <header>
      <h1>
        <strong>Open Source</strong> en
        <svg class="makigas-logo" aria-labeled-by="makigas-logo-title makigas-logo-desc" aria-role="img" aria-hidden="true" width="282" height="42" viewBox="0 0 47 7" version="1.1">
          <title id="makigas-logo-title">makigas</title>
          <desc id="makigas-logo-desc">El logo de makigas aparece aquí</desc>
          <path d="m 0,6 0,-5 2,0 0,1 2,0 0,-1 2,0 0,1 1,0 0,4 -2,0 0,-2 L 4,4 4,5 3,5 3,4 2,4 2,6 0,6 Z" />
          <path d="m 9,6 0,-1 -1,0 0,-1 1,0 0,-1 L 12,3 12,2 9,2 l 0,-1 L 13,1 l 0,1 1,0 0,4 -5,0 z m 1,-1 L 12,5 12,4 10,4 l 0,1 z" />
          <path d="m 15,6 0,-6 2,0 0,3 1,0 0,-1 2,0 0,1 -1,0 0,1 1,0 0,1 1,0 0,1 -2,0 0,-1 -1,0 0,-1 -1,0 0,2 -2,0 z" />
          <path d="m 22,6 0,-1 1,0 0,-2 -1,0 0,-1 3,0 0,3 1,0 0,1 -4,0 z m 1,-5 0,-1 2,0 0,1 -2,0 z" />
          <path d="m 27,7 0,-1 4,0 0,-1 -3,0 0,-1 -1,0 0,-2 1,0 0,-1 5,0 0,5 -1,0 0,1 -5,0 z m 2,-3 2,0 0,-2 -2,0 0,2 z" />
          <path d="m 35,6 0,-1 -1,0 0,-1 1,0 0,-1 3,0 0,-1 -3,0 0,-1 4,0 0,1 1,0 0,4 -5,0 z m 1,-1 2,0 0,-1 -2,0 0,1 z" />
          <path d="m 47,1 0,1 L 43,2 l 0,1 3,0 0,1 1,0 0,1 -1,0 0,1 L 41,6 l 0,-1 4,0 0,-1 L 42,4 l 0,-1 -1,0 0,-1 1,0 0,-1 5,0 z" />
        </svg>
      </h1>
    </header>

    {{ content }}

    <footer>
      <p>Copyright &copy; 2012-2017 makigas &bull; @makigas</p>

      <p><span class="made-in-spain">Made in Spain</span></p>
    </footer>
  </body>
</html>